$color-header: #2c2f3c;
$color-section-text: #21232e;
$color-card-content: #b8babe;
$color-bg: #ffffff;
$color-bg-btn: #699900;
$color-bg-sticker: #13a0c7;
$color-bg-footer: #21232e;
$color-bg-card: #21232e;
$color-bg-gradient-start: #679705;
$color-bg-gradient-end: #305fd1;
$image-bg-header: url('../img/m-h-day.jpg');
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Hind', sans-serif;
$margin-banner-heading: 23px 0 17px 0;
