$color-header: #ffffff;
$color-section-text: #ffffff;
$color-card-content: #b8babe;
$color-bg: #21232e;
$color-bg-btn: #e3ac00;
$color-bg-sticker: #ff4e33;
$color-bg-footer: #3b3f50;
$color-bg-card: #3b3f50;
$color-bg-gradient-start: #dda206;
$color-bg-gradient-end: #942e51;
$image-bg-header: url('../img/m-h-night.jpg');
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Fresca', sans-serif;
$margin-banner-heading: 26px 0 14px 0;
